<!--encoding: utf-8 -->
<!--用到了 Rails 的一个约定：如果局部视图要在多个控制器重使用，则把它存放在专门的 shared 目录下-->

<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>